
*{
    padding: 2px;
}
    
.header{
    background-color: #dbd294;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    font-family: "Forum", serif;
    font-size: 20px;
    align-items: center;
}

header ul a{
    color: #ffffff;
    text-decoration: none;
}
ul{
    display: flex;
    flex-direction: row;
    gap: 1.5px;
    list-style: none
    
}

.a:hover{
    background-color: #A88F4F;  
    border-radius: 10px;
    font-size: 25px;
    transition: 0.3s;
}
/*
    flex-wrap: wrap;
    text-decoration:none;
    justify-content: center;
    align-items: center;
}*/

.main{
    background-image: url(IMG/FONDOCLARO.jpg);
    opacity: 0.20;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

main h3 {
    font-family: "Forum", serif;
    font-size:80px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.div{
    background-color: #E6E6E6;
    height: 100vh;
}

.text{
    font-family: "Forum", serif;

}
h2{    
    color: #ffffff;
    background-color: #9d816370;
    font-family: "Forum", serif;        
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    font-size: 50px;
}



form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #D0D0D0;
    margin: 10px;
    align-content: space-around;
    font-family: "Forum", serif;
    font-size: 20px;        

}

.item2{
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: baseline;
}


.formitem{
    padding: 10px;
    border-radius: 25px;
}

.formitem input {
    width: 100%;
    max-width: 500px;
}



/*

  display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;


.footer{
    background-color: #dbd294;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;    
    font-family: "Form", serif;
    font-size: 20px;
    align-items: center;
}

footer ul a{
    color: #ffffff;
    text-decoration: none;
}*/

.card-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-around;
}


.card{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-between;
    align-items: center;
}

.card:hover{
    transition: 0.5s;
    padding: 10px;
    background-color: #D0D0D0;
    color: black;
}
.card-container img{
    width: 300px;
    border-radius: 20px;
}

/*

#E6E6E6 → gris claro (fondo) body
#D0D0D0 gris claro
#D4C27A → dorado claro
#C9B26B → dorado principal
#A88F4F → dorado oscuro
#7A6735 → sombra dorada
Fondo → #E6E6E6
Texto importante → #C9B26B
Hover → #D4C27A
Sombras/bordes → #7A6735